
{% extends 'home/base.html' %}
 {% load static %}
 
 {% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>

    <style>

        div.col-md-4{
            width: 100%;

        }
 
        div.le{
            display: flex;
            float: left;
            width: 50%;
            align-items: center;
            justify-content: center;
        }

        div.ri{
            width: 50%;
            float: right;
            font-size: 5px;
        }

    </style>
</head>
<body>
    <div class="col-md-4">
        <div class="le">
            <img src="{{images.main_Img.url}}" class="img-responsive" style="width: auto; height: auto;" />
        </div>  
    {% if namex == 'LED' %}
        <div class="ri">
            <h3>ชื่ออุปกรณ์ : ไดโอดเปล่งแสงหรือแอลอีดี (Light Emitting Diode ; LED)</h3>
            <h4>
            สัญลักษณ์ :   <img src="{% static 'images/led.jpg' %}" width="300"><br><br>
            </h4>
            <h5>รายละเอียด : LED เป็นไดโอดที่ใช้สารประเภทแกลเลี่ยมอาร์เซ็นไนต์ฟอสไฟต์ (Gallium Arsenide Phosphide ; GaAsP) หรือสารแกลเลี่ยมฟอสไฟต์ (Gallium Phosphide ; GaP) มาทำเป็นสารกึ่งตัวนำชนิด p และ n แทนสาร Si และ Ge สารเหล่านี้มีคุณลักษณะพิเศษ คือ สามารถเรืองแสงได้เมื่อได้รับไบอัสตรง การเกิดแสงที่ตัว LED นี้เราเรียกว่า อิเล็กโทรลูมินิเซนต์ (Electroluminescence) ปัจจุบันนิยมใช้ LED แสดงผลในเครื่องมืออิเล็กทรอนิกส์ เช่น เครื่องคิดเลข,นาฬิกา เป็นต้น </h5>
            </div>
        {% endif %}  
        {% if namex == 'fixed inductor' %}
        <div class="ri">
            <h3>ชื่ออุปกรณ์ : ตัวเหนี่ยวนำ ( Inductor )</h3>
            <h4>
            สัญลักษณ์ :<img src="{% static 'images/l.jpg' %}" width="300"><br><br>
            </h4>
            <h5>รายละเอียด : ตัวเหนี่ยวนำ(Inductor) หรือ คอยล์(Coil) เป็นอุปกรณ์ชิ้นส่วนทางอิเล็กทรอนิกส์ชนิดหนึ่ง ที่ประกอบอยู่ในวงจรเครื่องรับ-ส่งวิทยุ วงจรเครื่องรับโทรทัศน์ วงจรเลือกความถี่ และวงจรอื่นๆที่อาศัยหลักการเหนี่ยวนํา บางครั้งอาจเรียกตัวอินดัคเตอร์ว่า “คอยล์” หรือ “แอล” แทนก็ได้โดยลักษณะโครสร้างของอุปกรณ์ประเภทนี้ คือ การเอาลวดตัวนําทองแดงมาพันเป็นขดจํานวนหลายๆรอบบนแกนอากาศซึ่งขดลวดทองแดงนี้จะแสดงคุณสมบัติเป็นตัวเหนี่ยวนําทางไฟฟ้าได้ก็ต่อเมื่อมีกระแสไฟฟ้าไหลผ่านตัวมัน </h5>
        </div>
        {% endif %}
        {% if namex == 'Photo Diode' %}
        <div class="ri">
            <h3>ชื่ออุปกรณ์ : Photo diode ( Inductor )</h3>
            <h4>
            สัญลักษณ์ :   <img src="{% static 'images/Photo.jpg' %}" width="300"><br><br>
            </h4>
            <h5>รายละเอียด : โฟโต้ไดโอด (Photo diode) อุปกรณ์สารกึ่งตัวนำกระแสได้ก็เนื่องจากการให้พลังงานเพื่อดึงอิเลคตรอนให้หลุดจากบอนด์ เป็นผลทำให้เกิดอิเลคตรอนอิสระและโฮล และเมื่อให้แรงดันไฟฟ้าจะเกิดสนามไฟฟ้าในแท่งสารนั้นเป็นผลทำให้ประจุอิเลคตรองและโฮล เคลื่อนที่ โฟโต้ไดโอดจึงมีหลักการทำงานโดยอาศัยแสงในการเพิ่มพลังงานให้กับอิเลคตรอนในเนื้อสารกึ่งตัวนำ </h5>
        </div>
        {% endif %}
        {% if namex == 'fixed resistor' %}
        <div class="ri">
            <h3>ชื่ออุปกรณ์ : ตัวต้านทานชนิดค่าคงตัว (fixed resistor)</h3>
            <h4>
            สัญลักษณ์ :   <img src="{% static 'images/r.jpg' %}" width="300"><br><br>
            </h4>
            <h5>รายละเอียด : มีค่าความต้านทานคงที่ มีให้เลือกหลายวัสดุและกำลังวัตต์ โดยขนาดตัวต้านทานจะยึดค่ากำลังไฟฟ้าสูงสุดที่ต้านได้เป็นเกณฑ์ มีตั้งแต่ 0.25-100 วัตต์ โดยใช้รหัสแถบสีเป็นตัวบอกค่า </h5>
        </div>
        {% endif %}
        {% if namex == 'variable resistor' %}
        <div class="ri">
            <h3>ชื่ออุปกรณ์ : ตัวต้านทานปรับค่าได้ (variable resistor) </h3>
            <h4>
            สัญลักษณ์ :   <img src="{% static 'images/rr.jpg' %}" width="300"><br><br>
            </h4>
            <h5>รายละเอียด :สามารถเปลี่ยนค่าความต้านทานได้ตลอดเวลา ตัวต้านทานชนิดแปรค่าได้มีทั้งที่ใช้กับกระแสไฟฟ้าต่ำ (ทำจากคาร์บอนหรือแกรไฟต์) เรียกว่า โพเทนชิโอมิเตอร์ (potentiometer) หรือ โวลุม (volume) และที่ใช้กับกระแสไฟฟ้าสูง (ทำจากลวดความต้านทาน) ซึ่งเรียกว่า รีโอสตัต (rheostat) </h5>
        </div>
        {% endif %}
        {% if namex == 'Varactor or Varicap Diode' %}
        <div class="ri">
            <h3>ชื่ออุปกรณ์ : ไดโอดวาแรกเตอร์หรือวาริแคป (Varactor or Varicap Diode) </h3>
            <h4>
            สัญลักษณ์ :   <img src="{% static 'images/Varactor.jpg' %}" width="300"><br><br>
            </h4>
            <h5>รายละเอียด :: ไดโอดวาแรกเตอร์หรือวาริแคปเป็นไดโอดที่มีลักษณะพิเศษ คือ สามารถปรับค่าคาปาซิแตนซ์เชื่อมต่อ (Ct) ได้โดยการปรับค่าแรงดันไบอัสกลับ ไดโอดประเภทนี้มีโครงสร้างเหมือนกับไดโอดทั่วไป ขณะแรงดันไบอัสกลับ (Reverse Bias Voltage ; Vr) มีค่าต่ำ Depletion Region จะแคบลงทำให้ Ct ครงรอบต่อมีค่าสูง แต่ในทางตรงข้ามถ้าเราปรับ Vr ให้สูงขึ้น Depletion Region จะขยายกว้างขึ้น ทำให้ Ct มีค่าต่ำ จากลักษณะดังกล่าว เราจึงนำวาริแคปไปใช้ในวงจรปรับความถี่ เช่น วงจรจูนความถี่อัตโนมัติ (Automatic Fine Tunning ; AFC) และวงจรกรองความถี่ซึ่งปรับช่วงความถี่ได้ตามต้องการ (Variable Bandpass Filter) เป็นต้น</h5>
        </div>
        {% endif %}
        {% if namex == 'Fixed Capacitor' %}
        <div class="ri">
            <h3>ชื่ออุปกรณ์ : ตัวเก็บประจุแบบค่าคงที่ (Fixed Capacitor) </h3>
            <h4>
            สัญลักษณ์ :   <img src="{% static 'images/c.jpg' %}" width="300"><br><br>
            </h4>
            <h5>รายละเอียด :ตัวเก็บประจุที่ไม่สามารถเปลี่ยนแปลงค่าได้ โดยปกติจะมีรูปลักษณะเป็นวงกลม หรือเป็นทรงกระบอก ซึ่งมักแสดงค่าที่ตัวเก็บประจุ เช่น 5 พิโกฟารัด (pF) 10 ไมโครฟารัด แผ่นเพลทตัวนำมักใช้โลหะและมีไดอิเล็กตริกประเภท ไมก้า เซรามิค อิเล็กโตรไลติกคั่นกลาง เป็นต้น </h5>
        </div>
        {% endif %}
        {% if namex == 'Variable Capacitor' %}
        <div class="ri">
            <h3>ชื่ออุปกรณ์ : ตัวเก็บประจุแบบปรับค่าได้ (Variable Capacitor) </h3>
            <h4>
            สัญลักษณ์ :   <img src="{% static 'images/cc.jpg' %}" width="300"><br><br>
            </h4>
            <h5>รายละเอียด :ค่าการเก็บประจุจะเปลี่ยนแปลงไปตามการเคลื่อนที่ของแกนหมุน โครงสร้างภายในประกอบด้วย แผ่นโลหะ 2 แผ่นหรือมากกว่าวางใกล้กัน แผ่นหนึ่งจะอยู่กับที่ส่วนอีกแผ่นหนึ่งจะเคลื่อนที่ได้ ไดอิเล็กตริกที่ใช้มีหลายชนิดด้วยกันคือ อากาศ ไมก้า เซรามิค และพลาสติก เป็นต้น </h5>
        </div>
        {% endif %}

        {% if namex == 'Zener Diode' %}
        <div class="ri">
            <h3>ชื่ออุปกรณ์ : ซีเนอร์ไดโอด (Zener Diode) </h3>
            <h4>
            สัญลักษณ์ :   <img src="{% static 'images/Zener.jpg' %}" width="300"><br><br>
            </h4>
            <h5>รายละเอียด : ซีเนอร์ไดโอดเป็นอุปกรณ์สารกึ่งตัวนำที่นำกระแสได้เมื่อได้รับไบอัสกลับ และระดับแรงดันไบอัสกลับที่นำซีเนอร์ไดโอดไปใช้งานได้เรียกว่า ระดับแรงดันพังทลายซีเนอร์ (Zener Breakdown Voltage ; Vz) ซีเนอร์ไดโอดจะมีแรงดันไบอัสกลับ (Vr)น้อยกว่า Vz เล็กน้อย ไดโอดประเภทนี้เหมาะที่จะนำไปใช้ควบคุมแรงดันที่โหลดหรือวงจรที่ต้องการแรงดันคงที่ เช่น ประกอบอยู่ในแหล่งจ่ายไฟเลี้ยง หรือโวลเทจเรกูเลเตอร์ </h5>
        </div>
      
        {% endif %}
        {% if namex == 'power diode' %}
        <div class="ri">
            <h3>ชื่ออุปกรณ์ : ไดโอดกำลัง (Power Diode) </h3>
            <h4>
            สัญลักษณ์ :   <img src="{% static 'images/power.jpg' %}" width="300"><br><br>
            </h4>
            <h5>รายละเอียด : ไดโอดกำลัง เป็นไดโอดที่ออกแบบให้บริเวณรอยต่อมีช่วงกว้างมากกว่าไดโอดทั่วไป เพื่อนำไปใช้กับงานที่มีกำลังไฟฟ้าสูง กระแสสูงและทนต่ออุณหภูมิสุงได้ เช่น ประกอบเป็นวงจรเรียงกระแส ในอิเล็กทรอนิกส์กำลัง เป็นต้น จะเห็นได้ว่าเมื่อพิกัดกระแสไฟฟ้ามีค่าหลายร้อยแอมป์ ทำให้ไดโอดมีอุณหภูมิขณะทำงานสูง โดยทั่วไปจึงนิยมใช้ร่วมกับตัวระบายความรัอน (Heat Sinks)เพื่อเพิ่มพื้นที่ระบายความรัอนภายในตัวไดโอดกำลัง </h5>
        </div>
      
        {% endif %}
        {% if namex == 'Empty' %}
        <h2>ไม่รู้จักอุปกรณ์</h2>
       
      
        {% endif %}


    </div>
</body>
</html>
{% endblock content %}